<section class="sidebar">
    <div class="profile-display">
        <img src="/images/icons/undraw_male_avatar_323b.svg" alt="">
        <p>{{admin.name}}</p>
    </div>
    <div class="nav-links">
        <a href="/"><i class="fas fa-house-user"></i>&nbsp;&nbsp;Tổng quan</a>
        <a href="/users"><i class="fas fa-user"></i>&nbsp;&nbsp;Người dùng</a>
        <a href="/users/blocked"><i class="fas fa-user-slash"></i>&nbsp;&nbsp;Người bị chặn</a>
        <a href="/appointment"><i class="fas fa-calendar"></i>&nbsp;&nbsp;Lịch hẹn</a>
        <a href="/medicines"><i class="fa-solid fa-capsules"></i>&nbsp;&nbsp;Kho thuốc</a>
        <a href="/receptionist"><i class="fa-solid fa-receipt"></i>&nbsp;&nbsp;Hóa đơn</a>
        <a href="/myprofile"><i class="fas fa-user"></i>&nbsp;&nbsp;Admin</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Đăng xuất</a>
    </div>
</section>