<section class="admin-success">
  <div class="head success" style="font-size: 20px;">
    <h1>Hồ sơ đã sẵn sàng</h1>
    <a href="{{path}}" download="{{path}}" style="background-color: #007bff;">
      Tải xuống
    </a>
  </div>
</section>